body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    border: 1px solid;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
    color: #515076;
}

.list-products {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 85px;
    margin-top: 135px;
}

.list-products > li {
    border: none;
    width: 340px;
    height: 573px;
    background-color: #F7F7FA;
}

.list-products img {
    border: none;
    margin: 25px;
    background-color:#F7F7FA;

}

span {
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    display: block;
    text-align: left;
}

.card-content {
    padding-left: 25px;
}

.card-content ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

.card-content ul li::marker {
    font-size: 1.5em;
}

.card-price {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 24px;
}